.dart_tool/
.packages
.pub/
build/
coverage/
*.iml
.idea/

# Flutter/Dart
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
flutter/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
